.champ-title-desc {
  font-family: Beaufort-Bold;
  color: #C89B3C;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  }
  
  .champ-blurb-desc {
    font-family: Spiegel-Regular;
    color: #C89B3C;
    text-align: center;
    padding-top: 10%;
    font-size: 4rem;
  }
  
  @media (max-width: 1200px) {
    .champ-blurb-desc {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .champ-blurb-desc {
      font-size: 2rem;
    }
  }
  
  .line-break {
    border-bottom: 2px solid rgb(70, 55, 20);
    margin-top: 3%;
  }