.search-container {
    display: flex;
    justify-content: center;
}

.search-button {
    width: 100%;
    height: 100%;
    right: 10%;
    position: relative;
    color: rgb(200, 155, 60) !important;
    border: none !important;
}

.input-group-text {
    background-color: #ffffff !important;
}

.player-info-container {
    display: flex;
    flex-direction: column;
}

.profile-icon-div {
    justify-content: center;
    display: flex;
}

.profile-icon-img {
    height: 64px;
    width: 64px;
}