.lane-icons {
    height: 32px;
    justify-content: space-evenly;
    display: flex;
    top: 50px;
    position: relative;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #C89B3C;
  }
  
  .lane-icon {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .lane-icon.active {
    border-bottom-color: rgb(200, 155, 60) !important;
  }
  
  .lane-icon:hover {
    transform: scale(1.2);
  }