.teams-container {
  display: flex;
}

.team-column {
  flex: 1;
}

.champ-image-match {
  height: 47px;
  width: 47px;
}

.player-list {
  margin-left: -34px;
}

.player-match {
  margin-left: 2%;
}

.player-info {
  display: flex;
  width: 100%;
}

.player-info .player-match {
  flex-grow: 1;
}

.player-name {
  margin-left: 2%;
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  font-size: 16pt;
}

.match-history-text {
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  font-size: 16pt;
  margin-top: 1%;
}

.player-name-text {
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  font-size: 16pt;
}

.full-info {
  width: 100%;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.team-won {
  background-color: #091428;
}

.team-lost {
  background-color: #6e160f;
}

.damage-bar {
  width: 95%;
  height: 10px;
  background-color: #32281E;
  position: relative;
  margin-left: 2%;
}

.damage-filled {
  height: 100%;
  background-color: #C8AA6E;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.damage-done {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  font-size: 12px;
  white-space: nowrap;
}

.victory,
.loading-text {
  font-family: Beaufort-Bold;
  color: rgb(200, 155, 60);
  font-size: 20pt;
}

.defeat {
  font-family: Beaufort-Bold;
  color: #6e160f;
  font-size: 20pt;
}

li {
  list-style-type: none;
}

.match-info {
  display: flex;
  flex-direction: column;
}

.teams-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 740px) {
  .teams-container {
    flex-direction: column;
  }
}

.table-text-color {
  color: rgb(200, 155, 60);
}

.table-text-color-2 {
  color: transparent;
}

.table-summoner {
  width: 40.63%;
}

.kda {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  letter-spacing: 0.05em;
  font-size: 14pt;
  margin-right: 3%;
}

.cs {
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  letter-spacing: 0.05em;
  font-size: 13pt;
}

.game-duration {
  font-family: Beaufort-Bold;
  color: rgb(240, 230, 210);
  margin-top: -2%;
}

.match-details-table-2 {
  margin-top: -2%;
}

.dmg-numbers {
  margin-bottom: 2%;
  font-family: Spiegal-Regular;
  color: rgb(240, 230, 210);
}

.damage-row {
  justify-content: center;
}

.gamemode {
  font-family: Beaufort-Bold;
  color: rgb(200, 155, 60);
  letter-spacing: 0.05em;
}

.side-text {
  font-family: Spiegal-Regular;
  color: rgb(240, 230, 210);
}

.match-details-table th,
.match-details-table td,
.match-details-table-2 th,
.match-details-table-2 td {
  width: calc(100% / 5);
  text-align: center;
}

.player-info-table {
  width: 100% !important;
  display: flex;
}

/* Items */

.item-image {
  height: 35px;
  width: 35px;
  padding-right: 2px;
}

.item-build {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 663px) {
  .item-build {
    flex-wrap: wrap;
  }

  .item-build > div {
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
  }

  .item-image {
    height: 20px;
    width: 20px;
  }

  .player-name {
    font-size: 10pt;
  }

  .kda {
    font-size: 10pt;
  }

  .cs {
    font-size: 10pt;
  }

  .dmg-numbers {
    font-size: 10pt;
  }
}