.splash {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  margin-top: 2%;
  box-shadow: 0 0 50px 1px #F0E6D2;
  border-radius: 25px;
  max-height: 70%;
}

.champname {
  font-family: Beaufort-Bold;
  color: #C89B3C;
}

.img-section {
  margin-top: 2%;
}

.page-section-two,
.page-section-three {
  height: 100vh;
  margin-top: 60px;
  padding-top: 20px;
}

.details-section {
  margin-top: 20%;
}

.second-section {
  margin-top: 60px;
}

.spinner {
  display: flex;
  justify-content: center;
}

.spinner-border {
  --bs-spinner-width: 5rem !important;
  --bs-spinner-height: 5rem !important;
}

.dropdown-toggle {
  background: transparent !important;
  border: none !important;
  
}

.dropdown-text {
  font-family: Beaufort-Bold;
}
#pageSelectionDropdown {
  color: #F0E6D2 !important;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #F0E6D2 !important;
  background-color: #C89B3C !important;
}

.show {
  background-color: rgb(1 10 19) !important;
}