.splash {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    box-shadow: 0 0 50px 1px #F0E6D2;
    border-radius: 25px;
  }
  
  .champname {
    font-family: Beaufort-Bold;
  }
  
  .page-section {
    height: 100vh;
  }
  
  .page-section-two,
  .page-section-three {
    height: 100vh;
    margin-top: 60px;
    padding-top: 20px;
  }
  
  .details-section {
    margin-top: 20%;
  }
  
  .second-section {
    margin-top: 60px;
  }
  
  .desc-section {
    margin-top: 60px;
  }
  
  .spinner {
    display: flex;
    justify-content: center;
  }
  
  .spinner-border {
    --bs-spinner-width: 5rem !important;
    --bs-spinner-height: 5rem !important;
  }
  
  .scroll-arrow-up {
    display: flex;
    margin-top: 60px;
    justify-content: center;
  }
  
  .text-to-top {
    font-family: Spiegel-Regular;
    font-weight: bold;
    color: #C89B3C;
    width: 100%;
    ;
  }