body {
  background-color: #101935 !important;
}

.scrollable-container {
  max-height: 771px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 10vh;
  background: none;
}

.champ-name {
  font-size: 10px;
  font-weight: bold;
  padding-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.champ-icon {
  height: 64px;
  width: 64px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 2px 1px black;
}

.champ-icon:hover {
  box-shadow: 0 0 5px 2px #DBCBD8;
  transform: scale(0.99);
}

.navbar {
  background-color: #9AD4D6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-custom {
  background-color: #9AD4D6;
}

/* more info page */

.splash {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}




/* Scrollbar */

::-webkit-scrollbar {
  width: .45rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 0.4);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}