body {
  background-color: rgb(1 10 19) !important;
}

html {
  cursor: url('https://brand.riotgames.com/images/league-of-legends/cursor.png'), auto !important;
}

.bg-custom {
  background-color: rgb(1 10 19);
}

a {
  cursor: url('https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png'), auto !important;
}

.text-color {
  color: rgb(240 230 210);
}


/* Scrollable champ search */

.scrollable-container {
  max-height: 771px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 10vh;
  background: none;
}

.champ-name {
  font-size: 10px;
  font-weight: bold;
  padding-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.champ-icon {
  height: 64px;
  width: 64px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 2px 1px black;
}

.champ-icon:hover {
  box-shadow: 0 0 5px 2px #DBCBD8;
  transform: scale(0.99);
}


/* Navbar */

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgb(70, 55, 20);
  border-top-color: rgb(70, 55, 20);
  border-right-color: rgb(70, 55, 20);
  border-left-color: rgb(70, 55, 20);
  position: sticky !important;
  top: 0;
  z-index: 999;
}

.nav-link {
  color: rgba(240, 230, 210, 0.87) !important;
  font-family: Beaufort-Bold;
  font-size: 0.80rem !important;
  font-weight: 700 !important;
  line-height: 1.26;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition: opacity 0.3s ease 0s;
  opacity: 1;
  text-align: center;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(238, 233, 224) !important;
}

.nav-link.active {
  color: rgb(238, 233, 224) !important;
}


/* more info page */

.splash {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  margin-top: 2%;
  box-shadow: 0 0 50px 1px #F0E6D2;
}

.champname {
  font-family: Beaufort-Bold;
}

.page-section {
  height: 100vh;
}

.page-section-two, .page-section-three {
  height: 100vh;
  margin-top: 60px;
  padding-top: 20px;
}

.details-section {
  margin-top: 20%;
}

.second-section {
  margin-top: 60px;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
}

.desc-section {
  margin-top: 60px;
}

/* Pie Chart */

canvas {
  height: 500px !important;
  width: 500px !important;
}

.pie-chart {
  display: flex;
  justify-content: center;
}

/* Table */

table.GeneratedTable {
  width: 100%;
  background-color: rgb(1 10 19);
  border-collapse: collapse;
  color: #000000;
  display: table;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 1px;
  border-color: rgb(70, 55, 20);
  border-style: solid;
  padding: 3px;
}

.att-name {
  width: 50%;
}

/* Scroll arrow */

.scroll-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  /* border: 2px solid; */
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.scroll-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  transform: rotateZ(45deg);
}

.scroll-arrow:hover, .scroll-arrow-bottom:hover {
  cursor: url('https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png'), auto !important;
}

.scroll-arrow-bottom:after {
  content: " ";
  position: absolute;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  transform: rotateZ(45deg);
}

.scroll-arrow-bottom {
  bottom: 0;
  position: absolute;
  top: calc(100vh + 106%);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  /* border: 2px solid; */
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}


/* Scrollbar */

::-webkit-scrollbar {
  width: .45rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 0.4);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}


/* Fonts */

@font-face {
  font-family: 'Beaufort-Bold';
  src: url('./Fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf');
}

@font-face {
  font-family: 'Spiegal-Regular';
  src: url('./Fonts/Spiegel-OTF/Spiegel-Regular.otf');
}

.description-text {
  font-family: Spiegal-Regular;
  color: rgb(240 230 210);
}